
      <div class="row">
        <div class="col-xs-12 load-more">
          <a href="javascript:void(0)" class="btn btn-primary btn-standard">Visa fler <i class="fa fa-refresh"></i></a>
        </div>
      </div>

