
    <div class="row">
      <div class="col-xs-12">
        <form id="search-form">
          <div class="input-group">
            {{input id="search-input" type="search" placeholder="Sök i databasen Jämda" autofocus="true" class="form-control" value=query}}
            <div class="input-group-btn">
            <button type="submit" {{action 'trigger_search'}} class="btn btn-default"><i class="fa fa-search"></i> Sök</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {{view App.SearchResultList}}
